/* Fuentes para el texto*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');

body {
    position: relative;
    overflow-y: hidden;

    width: 100vw;
    height: 100vh;
    margin: 0;

    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);

    color: #537895;
}

/*-----------Contenedor principal----------*/

.contenedor{
    width: 100%;
    height: 100%;
    /* scroll-snap-type:y proximity; */
    overflow-y: scroll;
    
}

/*Nav*/
#navbar-example2{
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}

/*Secciones*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    /* scroll-snap-stop: always */
}
section div {
    place-items: center;
    align-content: center;
}

#section1{
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    position: relative;
    max-width: 100%;
}

#section1 div{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);  
    border-radius: 50px;
    color: white;
}

/*Animación Secciones*/
.hidden{
    opacity: 0;
    filter: blur(5);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*Color letras - secciones*/
section p{
    text-align: center;
    color: aliceblue;
}

section h1{
    text-align: center;
    color: #fff;
}

section h2{
    text-align: center;
    color: #fff;
}

/*-----------Contenedor principal----------*/

/*---------Sección contacto---------------*/
.social-links{
    display: flex;
}

.social-links:nth-child(2){
    transition-delay: 200ms;
}

.social-links:nth-child(3){
    transition-delay: 400ms;
}

.social-links:nth-child(4){
    transition-delay: 600ms;
}

.social-links:nth-child(5){
    transition-delay: 800ms;
}

.social-links:nth-child(6){
    transition-delay: 1000ms;
}

.social-links a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.social-links a i{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.2s;
}

.social-links a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    /* background: linear-gradient(-45deg, #ed1c94, #ffec17); */
    background-color: rgb(28,28,28);
    background-image: radial-gradient(circle, rgba(28,28,28,1) 0%, rgba(19,143,10,1) 97%);
    position: absolute;
    transition: 0.5s;
}

.social-links a:hover::after{
    top: 0;
}

.social-links a:hover .fa-brands{
    color: aliceblue;
}

.social-links a:hover{
    transform: translateY(-10px);
}

.icon_cv{
    position: absolute;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    color:#138f0a;
}

.icon_cv p{
    font-weight: bold;
}

@media only screen and (min-width: 320px) and 
(max-width: 991px){
    .social-links{
        flex-direction: column;
    }
    .iconsHabilidades{
        flex-direction: column;
    }
    .contenedor_soy p{
        font-size: xx-small;
    }
}

/*---------Sección contacto---------------*/

/*Clases especiales*/

/*Fondo blur*/
/* .bck-Blur{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
} */

.font_bebas_neue{
    font-family: 'Bebas Neue', sans-serif;
}

.font_Press_Start_2P{
    font-family: 'Press Start 2P', cursive;
}

/*----------------*/

/*Underline*/
.nav-link{
    position: relative;
}

.icon_grow{
    transition: .3s ease;
}
/* .icon_grow:hover{
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
} */

.nav-link::after{
    content:'';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #138f0a;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.div2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    background: transparent !important;
    border: none !important;
}

.card i{
    font-size: 30px;
}


/*section 3*/
.section_bkforest {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url('/img/forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.bgimg{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    border-radius: 50px;
}

  /*
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  */

  .btn-dark{
    color: aliceblue !important;
  }

  .btn-dark:hover{
    background-image: linear-gradient(169deg, rgba(28,28,28,1) 0%, rgba(19,143,10,1) 97%);
  }

  .btn-dark:hover i{
    color:aliceblue !important;
  }