body {
    position: relative;
    overflow-y: hidden;

    width: 100vw;
    height: 100vh;
    margin: 0;
}

/*-----------Contenedor principal----------*/

.contenedor{
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

/*Secciones*/
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 116vh;
}
section div{
    display: grid;
    place-items: center;
    align-content: center;
}

#section1{
    background-image: url(../img/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
    position: relative;
}

/*Animación Secciones*/
.hidden{
    opacity: 0;
    filter: blur(5);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*-----------Contenedor principal----------*/


/*Clases especiales*/

/*Fondo blur*/
.bck-Blur{
    backdrop-filter: blur(10px);

}